@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #F3EEE5;
    text-decoration: none;
    color: #021C40;
    font-family: 'Abhaya Libre', serif;
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLogo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10%;
    margin-top: 3%;
}

.mainContainer {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPoster {
    display: flex;
    width: 300px;

}

.mainInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.mainInfoTitle {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30%;
    letter-spacing: 2px;
}

.mainInfoContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #021C40;
    color: #F3EEE5;
    padding: 6px 30px;
    border-radius: 10px;
}

.mainInfoContentNumber {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    color: red;
    background-color: #021C40;
}

.mainInfoContentText {
    display: flex;
    font-size: 15px;
    margin-left: 5px;
    background-color: #021C40;
    color: #F3EEE5;
}

.mainInfoContentText > svg {
    margin-left: 5px;
    background-color: #021C40;
    color: #F3EEE5;
}