

.chatBot {
position: fixed;
bottom: 40px;
right: 40px;
}

.chatBotImg {
width: 60px;
}


.gptoverlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(11, 11, 19, 0.7);
/* Set background to the desired color */
display: flex;
align-items: center;
justify-content: center;
}

.gptmodal {
display: flex;
flex-direction: column;
width: 875px;
height: 720px;
background-color: #ffffff;
border-radius: 60px;
padding: 40px;
outline: none;
border: none;
position: relative;
align-items: center;
}  

.gptModal-title-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* margin-top: 15px; */
background-color: #ffffff;
}

.message-content p{
background-color: #F6F6F6;
}

.gptModal-title-container span {
font-family: 'Pretendard-SemiBold';
font-size: 32px;
font-weight: 600;
line-height: 35.8px;
text-align: center;
width: 250px;
height: 36px;
color: #030027;
position: fixed;
background-color: #ffffff;
}

.X-img img {
width: 35px;
height: 35px;
cursor: pointer;
background-color: #ffffff;
}



.X-img {
margin-left: 760px;
background-color: #ffffff;
}

.gptModal-inputDiv {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
/* 모달 내부에서 절대 위치 */
bottom: 40px;
left: 50%;
transform: translateX(-50%);
background-color: #ffffff;
}

.gptModal-inputDiv input {
width: 820px;
height: 65px;
border-radius: 15px;
border: 1px solid #A1A6A9;
font-family: 'Pretendard-Medium';
padding: 20px;
font-size: 21px;
font-weight: 500;
line-height: 23.87px;
text-align: left;
color: #A1A6A9;
box-sizing: border-box;
background-color: #ffffff;
}

.gptModal-inputDiv input:hover,
.gptModal-inputDiv input:focus {
outline: none;
}

.gptModal-inputDiv input::placeholder {
width: 200px;
height: 25px;
font-family: 'Pretendard-Medium';
font-size: 21px;
font-weight: 500;
line-height: 23.87px;
text-align: left;
color: #A1A6A9;
}

.submit-img img {
width: 38px;
height: 38px;
}

.submit-img {
position: absolute;
cursor: pointer;
right: 0;
align-items: center;
justify-content: center;
display: flex;
transform: translateX(-30px);
}

.gptModal-messageWait{
background-color: #ffffff;
}

.gptModal-chat {
flex: 1;
align-items: center;
/* margin-top: 20px; */
height: 530px;
padding: 30px 20px;
width: 865px;
display: flex;
flex-direction: column;
gap: 7px;
overflow-y: auto;
background-color: #ffffff;
}


.gptModal-chat::-webkit-scrollbar {
width: 50px;
}

.gptModal-chat::-webkit-scrollbar-track {
background-color: transparent;
}

.gptModal-chat::-webkit-scrollbar-thumb {
background-color: #D1D5D7;
/* 스크롤바 색상 */
border-radius: 50px;
/* 스크롤바 모서리 둥글게 */
border: 20px solid #FFFFFF;
/* 스크롤바를 오른쪽에서 떨어지게 하는 여백 */
}


.gptModal-message {
margin-bottom: 15px;
position: relative;
display: inline-block;
/* 내용에 따라 너비를 조정 */
word-wrap: break-word;
background-color: #ffffff;
/* 긴 단어가 박스를 넘지 않도록 줄바꿈 */
}
.gptModal-message.user p{
background-color: #DDE6FF;
}

.chatbot-img2{
background-color: #ffffff;
}

.chatbot-img2 img{
background-color: #ffffff;
width: 50px;
height: 50px;
margin-right: 18px;
}

.gptModal-message.user {
max-width: 660px;
padding: 10px 25px;
/* height: 70px; */
display: inline-block;
/* 내용에 따라 너비를 조정 */
border-radius: 15px;
background-color: #DDE6FF;
align-self: flex-end;
/* 사용자의 메시지를 오른쪽에 정렬 */
font-family: 'Pretendard-Regular';
color: #030027;
font-size: 20px;
/* margin-right: 10px; */
font-weight: 400;
line-height: 26px;
text-align: left;
}

.gptModal-message.user p{
font-family: 'Pretendard-Regular';
color: #030027;
font-size: 20px;
}
.gptModal-message.bot p{
font-family: 'Pretendard-Regular';
color: #030027;
font-size: 20px;
}

.gptModal-message.bot {
display: flex;
flex-direction: row;
align-items: center;
padding-left: 10px;
}

/* .gptModal-message.bot img {
width: 65px;
height: 65px;
margin-right: 18px;
} */

.gptModal-message.bot .message-content {
background-color: #F6F6F6;
max-width: 600px;
padding: 10px 25px;
border-radius: 15px;
font-family: 'Pretendard-Regular';
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: #030027;
/* align-self: flex-start; */
}