@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #F3EEE5;
    text-decoration: none;
    color: #021C40;
    font-family: 'Abhaya Libre', serif;
}

.signUpPage {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.signUpTitle {
    display: flex;
    font-size: 60px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 120px;
    width: 600px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px 0px;
    width: 600px;
}

.inputContainer input {
    display: flex;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #021C40;
    background-color: transparent;
    font-size: 30px;
    outline: none;
}

.inputContainer input:focus {
    border-bottom: 2px solid #021C40;
}

.signUpButton {
    padding: 10px 120px;
    background-color: #021C40;
    color: #F3EEE5;
    font-size: 25px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 23px;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}